<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Cartagena Premium</ion-list-header>
          <ion-note>info@cartagenapremium.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
<!-- Aqui estaba comentado desde antes -->
        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
<!-- Aqui terminaba el tema comentado -->
      <!-- </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->


<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Cartagena Premium</ion-title>
        <ion-note>info@cartagenapremium.com</ion-note>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <!-- Menu principal -->
      <ion-list>
        
        <ion-menu-toggle>
          <ion-item routerLink="/inicio">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/inicio-de-sesion">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Inicio de sesion</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tutorial">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Tutorial</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/buscar">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Buscar</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/pagar">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Pagar</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/cancelar">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Cancelar</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/cerrar">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Cerrar</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>